
.buttons li{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    
    color: rgba(245, 244, 250, 1);
    padding-left: 22px;
    padding-top: 6;
    padding-right: 22;
    padding-bottom: 6;

}

.buttons:hover{
background-color: rgba(33, 150, 243, 1);

    color: white;
}


.buttons:focus{

    background-color: rgba(33, 150, 243, 1);

    color: red;
}

 .contact{

    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;

 }

 .contact:hover{

    color:red
 }

 .contact:focus{

    color:green
 }